*{
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    

    scroll-padding-right: smooth;
 
}

@font-face {
    font-family: 'Selima';
    font-style: normal;
    font-weight: normal;
    src: local('Selima'), url('Selima .woff') format('woff');
    }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
        font-weight: normal;
        src: local('Montserrat'), url('Montserrat-ExtraLight.ttf') format('ttf');
        }



.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	/* box-shadow: 2px 2px 3px #999; */
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}


/* .row-header{
    margin:0px auto;
    padding:0px auto;
} */

/* .row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
} */

.footer{
    background-color:#baa4b0;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
}


.footer  a {
    color: white;
    text-decoration: none;
  font-family: 'Balsamiq Sans', cursive;
  
    
}

#copyright{
    margin-left: 459px;
}


/* COMPONENTE: HEADER */

#col-icono{
    background: #f2d1da;
    width: 50%;
    height: 351px;
    
}

#logo{
    border: 0;
    position: absolute;

    top: 20px;
    left: 85px;
      
}

#col-titulo{
    background: #ec0080;
    width: 50%;
    height: 351px;
}



#titulo-page {
    background: #f5f5f5;
    position: absolute;
    top: 44px;
    left: -60px;
    padding: 2%;
    right: 0px;
}

#marca{
    background: #f5f5f5;
    position: absolute;
    top: 199px;
    left: -60px;
    padding: 2%;
    right: 0px;
    text-align: center;
}


.container-fluid{
	margin: 0;
	padding: 0;
}

.jumbotron{
    margin-top: -4%;
    padding-bottom: 0px;
}

#boton-buscar{
    background: #f5f5f5;
    position: absolute;
    top: 291px;
    left: 255px;
    border: none;
    width: 50%;
    box-shadow: 0 1px 5px 1px #cccccc;
    border-style: none;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color:  #ec0080;  
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}

#boton-buscar:active {
    background-color:  whitesmoke;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

h3{
    font-family:'Selima';
    font-weight:normal;
    font-size:50px;
}

#icon-busqueda{
    float: left;
}

#span-lema{
    font-family: 'Montserrat', sans-serif;
}




/* COMPONENTE: DETALLE MARCADOR */

.marcador{
  margin-bottom: 20px;
}

.titulo-detalle{
    color:#dd549e;
    font-family: 'Lobster', cursive;
}