*{
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    

    scroll-padding-right: smooth;
 
}


/* .row-header{
    margin:0px auto;
    padding:0px auto;
} */

/* .row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
} */

.footer{
    background-color:#10002c;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
}


.footer  a {
    color: white;
    text-decoration: none;
  font-family: 'Balsamiq Sans', cursive;
  
    
}





#copyright{
    margin-left: 459px;
}