*{
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    

    scroll-padding-right: smooth;
 
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	/* box-shadow: 2px 2px 3px #999; */
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}


/* .row-header{
    margin:0px auto;
    padding:0px auto;
} */

/* .row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
} */

.footer{
    background-color:#10002c;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
}


.footer  a {
    color: white;
    text-decoration: none;
  font-family: 'Balsamiq Sans', cursive;
  
    
}

#copyright{
    margin-left: 459px;
}


/* COMPONENTE: DETALLE MARCADOR */

.marcador{
  margin-bottom: 20px;
}

.titulo-detalle{
  color:#dd549e;
  font-family: 'Lobster', cursive;
}